body {
  width: 1100px;
  min-height: 3028px;
  margin: 0 auto;
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  margin: 0 auto;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 4px;
  font-style: normal;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 135px;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 0 50px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
  margin-left: -50px;
}

.aligned-text_center {
  text-align: center;
  padding-left: 0;
  margin-left: -30px;
}

.aligned-text_right {
  text-align: right;
  padding-right: 0;
  margin-right: -60px;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  padding: 180px 24px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 16px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
  justify-content: center;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  flex-shrink: 0;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 596px;
  padding: 50px 40px;
  color: #fff;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card__title {
  position: relative;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.lots__look-more-link {
  margin-left: 16px;
  font-size: 20px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 72px;
  padding: 60px 50px 180px;
  align-items: start;
  margin-left: 24px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column:first-child {
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin-top: -90px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 60px;
  line-height: normal;
  margin-top: 0;
  white-space: nowrap;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 0 50px 90px;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 4px;
  width: 264.57px; 
  height: 98px;
  box-sizing: border-box;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  text-underline-offset: 4px;
  white-space: nowrap; 
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
}