body {
  width: 1100px;
  min-height: 3028px;
  margin: 0 auto;
  position: relative;
  font-family: Raleway, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  margin: 0 auto;
  font-size: 18px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-underline-offset: 5px;
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
  height: auto;
}

.header__address {
  justify-self: end;
  width: 240px;
  height: 98px;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 5px;
  font-style: normal;
  box-sizing: border-box;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1100px;
  height: 757px;
  margin: 0 auto;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 110px;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
  line-height: 1.15;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
  margin-left: 27px;
  margin-top: 5px;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
  margin-right: -30px;
  margin-top: 20px;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  padding: 180px 25px 150px;
  min-height: 723px;
  max-width: 1100px;
  margin: 0 auto;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 38px;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  margin-bottom: 30px;
  justify-content: space-between;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  flex-shrink: 0;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 38px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 339px 1fr;
  gap: 25px;
  padding: 0 24px 120px;
  align-items: start;
  margin-top: 0;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__title {
  margin: 100px 0;
  font-size: 40px;
  text-transform: uppercase;
  white-space: nowrap;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 58px 50px 90px;
  font-size: 18px;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 5px;
  width: 240px;
  justify-self: start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  text-underline-offset: 5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}